# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Django files

*.log
*.pot
*.pyc
*.so

# Environment variables
.env
*.env

# Static and media files


# Virtual environment
venv/
env/
.virtualenv/

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo
*.swn

# Node modules (if using frontend with Django)
node_modules/



# OS files
.DS_Store
Thumbs.db
