# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Django files

*.log
*.pot
*.pyc
*.so

# Environment variables
.env
*.env

# Static and media files
/staticfiles/
/media/

# Virtual environment
venv/
env/
.virtualenv/

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo
*.swn

# Node modules (if using frontend with Django)
node_modules/

# Migrations (optional)
**/migrations/**

# OS files
.DS_Store
Thumbs.db
